/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

/* Modal Container */
.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: scale(0.95);
  animation: fadeIn 0.3s forwards;
}

/* Modal Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Success Icon */
.success-icon {
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.success-icon img {
    height: 10rem; /* Increased size */
    width: 10rem;  /* Increased size */
}

/* Modal Title */
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

/* Modal Message */
.modal-message {
  margin: 0.5rem 0;
}